.env
test1
test2
DepPrune/
repos/
test/
tools/
*.zip
*.csv
.DS_Store
Dockerfile
README_DEPPRUNE.md
npm_test_opened_files.txt
run_dep_prune.sh

# data/ 配下
data/*
!data/data-curation-depc/

# data-curation-depc 内の不要ファイルは除外
data/data-curation-depc/__pycache__/
data/data-curation-depc/**/__pycache__/
data/data-curation-depc/data_dependency_waste_project/
data/data-curation-depc/project_selection/
